body {
	color: #40514E;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

h1 {
	color: #66BFBF;
	font-size: 5.625em;
	margin: 50px 0 auto 0;
	font-family: 'Sacramento', cursive;
}

h2 {
	color: #66BFBF;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	padding-bottom: 10px;
}

p {
	line-height: 2;
}

hr {
	border: dotted #9BBBBB 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}

a {
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}

a:hover {
	color: #11FFEE;
}

.top-container {
	background-color: #E4F9F5;
	position: relative;
	padding-top: 100px;
}

.top-cloud {
	position: absolute;
	right: 300px;
	top: 40px;
}

.bottom-cloud {
	position: absolute;
	bottom: 300px;
	left: 250px
}

.middle-container {
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}